QL_TIEMBANH/Connected Services/SanPham/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SanPham" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISanPham_InsertSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertSanPham" />
  </wsdl:message>
  <wsdl:message name="ISanPham_InsertSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPham_showGV_InputMessage">
    <wsdl:part name="parameters" element="tns:showGV" />
  </wsdl:message>
  <wsdl:message name="ISanPham_showGV_OutputMessage">
    <wsdl:part name="parameters" element="tns:showGVResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPham_UpdateSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSanPham" />
  </wsdl:message>
  <wsdl:message name="ISanPham_UpdateSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPham_DelSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:DelSanPham" />
  </wsdl:message>
  <wsdl:message name="ISanPham_DelSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="ISanPham_SearchSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSanPham" />
  </wsdl:message>
  <wsdl:message name="ISanPham_SearchSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSanPhamResponse" />
  </wsdl:message>
  <wsdl:portType name="ISanPham">
    <wsdl:operation name="InsertSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPham/InsertSanPham" message="tns:ISanPham_InsertSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPham/InsertSanPhamResponse" message="tns:ISanPham_InsertSanPham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showGV">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPham/showGV" message="tns:ISanPham_showGV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPham/showGVResponse" message="tns:ISanPham_showGV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPham/UpdateSanPham" message="tns:ISanPham_UpdateSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPham/UpdateSanPhamResponse" message="tns:ISanPham_UpdateSanPham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPham/DelSanPham" message="tns:ISanPham_DelSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPham/DelSanPhamResponse" message="tns:ISanPham_DelSanPham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/ISanPham/SearchSanPham" message="tns:ISanPham_SearchSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISanPham/SearchSanPhamResponse" message="tns:ISanPham_SearchSanPham_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISanPham" type="tns:ISanPham">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertSanPham">
      <soap:operation soapAction="http://tempuri.org/ISanPham/InsertSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showGV">
      <soap:operation soapAction="http://tempuri.org/ISanPham/showGV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSanPham">
      <soap:operation soapAction="http://tempuri.org/ISanPham/UpdateSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelSanPham">
      <soap:operation soapAction="http://tempuri.org/ISanPham/DelSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSanPham">
      <soap:operation soapAction="http://tempuri.org/ISanPham/SearchSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SanPham">
    <wsdl:port name="BasicHttpBinding_ISanPham" binding="tns:BasicHttpBinding_ISanPham">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SERVICES/SanPham/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>