QL_TIEMBANH/Connected Services/NhanVien/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="NhanVien" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INhanVien_InsertNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNhanVien" />
  </wsdl:message>
  <wsdl:message name="INhanVien_InsertNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="INhanVien_showGV_InputMessage">
    <wsdl:part name="parameters" element="tns:showGV" />
  </wsdl:message>
  <wsdl:message name="INhanVien_showGV_OutputMessage">
    <wsdl:part name="parameters" element="tns:showGVResponse" />
  </wsdl:message>
  <wsdl:message name="INhanVien_UpdateNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNhanVien" />
  </wsdl:message>
  <wsdl:message name="INhanVien_UpdateNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="INhanVien_DelNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:DelNhanVien" />
  </wsdl:message>
  <wsdl:message name="INhanVien_DelNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="INhanVien_SearchNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchNhanVien" />
  </wsdl:message>
  <wsdl:message name="INhanVien_SearchNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchNhanVienResponse" />
  </wsdl:message>
  <wsdl:portType name="INhanVien">
    <wsdl:operation name="InsertNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/INhanVien/InsertNhanVien" message="tns:INhanVien_InsertNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhanVien/InsertNhanVienResponse" message="tns:INhanVien_InsertNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showGV">
      <wsdl:input wsaw:Action="http://tempuri.org/INhanVien/showGV" message="tns:INhanVien_showGV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhanVien/showGVResponse" message="tns:INhanVien_showGV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/INhanVien/UpdateNhanVien" message="tns:INhanVien_UpdateNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhanVien/UpdateNhanVienResponse" message="tns:INhanVien_UpdateNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/INhanVien/DelNhanVien" message="tns:INhanVien_DelNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhanVien/DelNhanVienResponse" message="tns:INhanVien_DelNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/INhanVien/SearchNhanVien" message="tns:INhanVien_SearchNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INhanVien/SearchNhanVienResponse" message="tns:INhanVien_SearchNhanVien_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INhanVien" type="tns:INhanVien">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNhanVien">
      <soap:operation soapAction="http://tempuri.org/INhanVien/InsertNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showGV">
      <soap:operation soapAction="http://tempuri.org/INhanVien/showGV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNhanVien">
      <soap:operation soapAction="http://tempuri.org/INhanVien/UpdateNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelNhanVien">
      <soap:operation soapAction="http://tempuri.org/INhanVien/DelNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchNhanVien">
      <soap:operation soapAction="http://tempuri.org/INhanVien/SearchNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NhanVien">
    <wsdl:port name="BasicHttpBinding_INhanVien" binding="tns:BasicHttpBinding_INhanVien">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SERVICES/NhanVien/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>