QL_TIEMBANH/Connected Services/NhanVien/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InsertNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tennv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gioitinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dienthoai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngaysinh" type="xs:dateTime" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNhanVienResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="showGV">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="showGVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showGVResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manv" type="xs:int" />
        <xs:element minOccurs="0" name="tennv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gioitinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dienthoai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ngaysinh" type="xs:dateTime" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNhanVienResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manv" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelNhanVienResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tennv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchNhanVienResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>