QL_TIEMBANH/Connected Services/KhachHang/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InsertKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenkh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dienthoai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKhachHangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="showGV">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="showGVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showGVResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makh" type="xs:int" />
        <xs:element minOccurs="0" name="tenkh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diachi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dienthoai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKhachHangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makh" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelKhachHangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenkh" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchKhachHangResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>