QL_TIEMBANH/Connected Services/KhachHang/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="KhachHang" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKhachHang_InsertKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertKhachHang" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_InsertKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_showGV_InputMessage">
    <wsdl:part name="parameters" element="tns:showGV" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_showGV_OutputMessage">
    <wsdl:part name="parameters" element="tns:showGVResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_UpdateKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKhachHang" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_UpdateKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_DelKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:DelKhachHang" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_DelKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_SearchKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchKhachHang" />
  </wsdl:message>
  <wsdl:message name="IKhachHang_SearchKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchKhachHangResponse" />
  </wsdl:message>
  <wsdl:portType name="IKhachHang">
    <wsdl:operation name="InsertKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHang/InsertKhachHang" message="tns:IKhachHang_InsertKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHang/InsertKhachHangResponse" message="tns:IKhachHang_InsertKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showGV">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHang/showGV" message="tns:IKhachHang_showGV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHang/showGVResponse" message="tns:IKhachHang_showGV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHang/UpdateKhachHang" message="tns:IKhachHang_UpdateKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHang/UpdateKhachHangResponse" message="tns:IKhachHang_UpdateKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHang/DelKhachHang" message="tns:IKhachHang_DelKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHang/DelKhachHangResponse" message="tns:IKhachHang_DelKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHang/SearchKhachHang" message="tns:IKhachHang_SearchKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHang/SearchKhachHangResponse" message="tns:IKhachHang_SearchKhachHang_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKhachHang" type="tns:IKhachHang">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertKhachHang">
      <soap:operation soapAction="http://tempuri.org/IKhachHang/InsertKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showGV">
      <soap:operation soapAction="http://tempuri.org/IKhachHang/showGV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKhachHang">
      <soap:operation soapAction="http://tempuri.org/IKhachHang/UpdateKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelKhachHang">
      <soap:operation soapAction="http://tempuri.org/IKhachHang/DelKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchKhachHang">
      <soap:operation soapAction="http://tempuri.org/IKhachHang/SearchKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KhachHang">
    <wsdl:port name="BasicHttpBinding_IKhachHang" binding="tns:BasicHttpBinding_IKhachHang">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SERVICES/KhachHang/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>